body {
	background:white;
	font-family: monospace;
}

#center_wrap {
    position:absolute;
    top:200px;
    left:27%;
    text-align: center;
}

#navbutton {
	display: block;
	width: 150px;
	height: 43px;
	background: #86A8C2;
	color: #303030;
	padding: 10px;
	border: 1 ridge;
	border-color:#5E809A;
	border-radius: 15px;	
	-webkit-border-radius: 7px;
	font-size:2.5em;
	text-decoration: none;
}

.old_question_div {
	border-bottom: 3px ridge;
	padding-bottom:30px;
	margin-bottom:1px;
	background:#FFF5EE;
}

.old_question_div label {
	font-size:1.1em;
}

.old_question_div textarea {
	font-family:monospace;
	width:50%;
	border-radius:10px;
	padding:10px;
	font-size:1em;
	margin:10px;
	resize:none;
}
input[type='submit'] {
    background: #86A8C2;
    border: none;
    border-radius:10px;
    -webkit-border-radius: 8px;
    color: #303030;
    cursor: pointer;
}

input[type='submit'].question_addQuestion {
    width: 180px;
    height:43px;
    background:#D89BA7;
	font-size:1.2em;
}

input[type='submit']#title_button {
    width: 100px;
    height:43px;
    background:#86A8C2;
	font-size:1.7em;
}

input[type='submit']#restartbutton {
    width: 150px;
    height:44px;
    background:#86A8C2;
	font-size:1.2em;
}


input[type='submit']#finishbutton {
    width: 150px;
    height:42px;
    background:#849A44;
	font-size:1.2em;
}

input[type='submit'].delete_question {
    width: 120px;
    background:#B36353;
	font-size:0.9em;
	-webkit-border-radius: 7px;
	padding: 8px;
}

input[type='submit'].update_question {
    width: 120px;
    background:#EBC744;
	font-size:0.9em;
	-webkit-border-radius: 7px;
	padding: 8px;
}

input[type='submit'].delete_question:hover {
	background:#FF6B67;
}

input[type='submit'].update_question:hover {
	background:#FF6B67;
}

input[type='submit'].question_addQuestion:hover {
	background:#FF6B67;
}

input[type='submit']#finishbutton:hover {
	background:#FF6B67;
}

input[type='submit']#restartbutton:hover {
	background:#FF6B67;
}

input[type='submit']#title_button:hover {
	background:#FF6B67;
}

input[type='submit'].delete_question:active {
	background:#C11B17;
}

input[type='submit'].update_question:active {
	background:#C11B17;
}

input[type='submit'].question_addQuestion:active {
	background:#C11B17;
}

input[type='submit']#finishbutton:active {
	background:#C11B17;
}

input[type='submit']#restartbutton:active {
	background:#C11B17;
}

input[type='submit']#title_button:active {
	background:#C11B17;
}

form {
	text-align:center;
}

input {
	font-family:monospace;
	border-radius:10px;
	padding:5px;
	font-size:1.3em;
	margin:10px;
}

#title_wrap {
	margin-top:55px;
}

#title_label {
	font-size:1.7em;
}

#question_label {
	font-size:1.7em;
}

#navbutton:hover {
	background:#D89BA7;
}

h1 {
	font-size:6em;
	margin-left:33px;
	margin-top:20px;
}

h2 {
	float:left;
	font-size:6em;
	margin-left:33px;
	margin-top:20px;
	color:#303030;
}

h3 {
	font-size:5em;
	margin-left:55px;
	margin-top:10px;
}

h4 {
	font-size:4em;
	margin-left:55px;
	margin-right:55px;
	margin-top:10px;
}

textarea {
	font-family:monospace;
	width:80%;
	border-radius:10px;
	padding:10px;
	font-size:1.3em;
	margin:10px;
	resize:none;
}