body {
	background:white;
	font-family: monospace;
	text-align: center;
	color: #303030;
}

/* Header för Home och Title */
	h1#big_header {
		margin-top:30px;
		margin-bottom:20px;
		font-size:6em;
	}

/* Header för Question och Mail */
	h1#tiny_header {
		text-align:right;
		background:#E5E4E2;
		font-size:2em;
		padding:10px;
	}

	h1#tiny_header_left {
		float: left;
		font-size:0.8em;
		margin:7px;
	}

/* Visar titeln på Question och Mail */
	h2#title {
		word-wrap:break-word;
		text-align:left;
		font-size:3em;
		margin:50px;
	}

/* Undertitel på Start */
	h2#home_h2 {
		font-size:2.5em;
	}

/* Sidonummer för varje fråga som lagts till */
	h3.question_number {
		position:absolute;
		font-size:5em;
}

/* Centrerar StartView och TitleView */
	#center_wrap {
		text-align: center
	}

/* Pilen på Start */
	h3 {
		margin:10px;
		font-size:4em;
	}

/* Spelfråga */
p#question_text {
	text-align:left;
	margin:0px 10px 0px 50px;
	padding:20px 10px 20px 20px;
	padding-bottom:50px;
	font-size:1.1em;
}

p.player_text {
	word-wrap:break-word;
	margin:10px 10px 10px 50px;
	font-size:1.2em;
}

/* Information/hjälp/fel-texter */
	p {
		font-size:1.1em;
		color:#303030;
		margin:10px;
	}
	p#error_message {
		font-weight: bolder;
		color:#8C001A;
	}
	#info_div {
		margin:30px;
	}

/* Start-knapp */
	a {
		display: inline-block;
		width: 150px;
		background: #849A44;
		color: #303030;
		padding: 10px;
		border: 1 ridge;
		border-color:#5E809A;
		border-radius: 8px;	
		-webkit-border-radius: 8px;
		font-size:3em;
		text-decoration: none;
	}
	a:hover {
		background:#FF6B67;
	}
	a:active {
		background:#C23717;
	}

/* Start-knapp */
	#startButton{
		display: inline-block;
		background: #849A44;
		color: #303030;
		padding: 10px;
		border: 1 ridge;
		border-color:#5E809A;
		border-radius: 8px;	
		-webkit-border-radius: 8px;
		font-size:3em;
		text-decoration: none;
	}
	#startButton:hover {
		background:#FF6B67;
	}
	#startButton:active {
		background:#C23717;
	}
/* Allmänna input-inställningar */
	input {
		font-family:monospace;
	    border-radius:7px;
	    -webkit-border-radius: 7px;
	}

/* Text-input inställningar */
	input[type='text'] {
		padding:5px;
		font-size:1.2em;
		margin:5px;
	}
	input[type='email'] {
		padding:5px;
		font-size:1.2em;
		margin:5px;
	}
/* Knapp-intällningar */
	input[type='submit'] {
		margin:10px;
		padding:7px 15px 7px 15px;
		font-size:1.1em;
	    color: #303030;
	    background: #86A8C2;
	    border: none;
	    cursor: pointer;
		-webkit-appearance: none;
	}
	input[type='submit'].addButton {
	    background:#D89BA7;
	}
	input[type='submit'].backButton {
		margin-bottom:50px;
	    background:#86A8C2;
	}
	input[type='submit'].continueButton {		
		margin-bottom:50px;
		background:#849A44;
	}
	input[type='submit'].hiddenButton {		
		position: absolute; left: -100%;
	}
	input[type='submit'].sendButton {
		font-size:1.8em;
		padding:12px;		
		background:#849A44;
	}
	input[type='submit'].deleteButton {
		font-size:0.9em;
		background:#B36353;
	}
	input[type='submit'].updateButton {
		font-size:0.9em;
	    background:#EBC744;
	}
	input[type='submit']:hover {
		background:#FF6B67;
	}
	input[type='submit']:active {
		background:#C23717;
	}

/* Radioknapparna Sant eller Falskt */
	input[type=radio] {
		display:none;
	}
	input[type=radio] + label {
		font-size:1em;
		display:inline-block;
	    margin:-4px;
	    margin-bottom:10px;
	    padding: 10px 20px;
		-moz-box-shadow: 	inset 0 0 4px black;
		-webkit-box-shadow: inset 0 0 4px black;
		box-shadow:         inset 0 0 4px black;
	    background-color:#909090;
	    border-color: black;
	}
	input[type=radio] + label.old {
	    background-color:#909090;
	}
	input[type=radio]:checked + label { 
		-moz-box-shadow: 	inset 0 0 2px black;
		-webkit-box-shadow: inset 0 0 2px black;
		box-shadow:         inset 0 0 2px black;
		background-image: none;
		background-color:yellow;
	}

/* Allmänna-inställningar för labels */
	label {
		font-size:1.2em;
	}

/* Label för TitleView */
	label#title_label {
		font-size:1.5em;
}

/* Allmänna-inställningar för textareas */
	textarea {
		width:80%;	
		max-width:80%;
		margin:10px 10px 5px 10px;
		padding:5px;
		font-size:1em;
		font-family:monospace;
		border-radius:7px;
	    -webkit-border-radius: 7px;
	}

/* Inställningar för redan inlagda frågor */
	.saved_div {
		border-bottom: 3px ridge;
		padding:20px 10px 30px 10px;
		margin-bottom:1px;
		background:#FFF5EE;
	}

	.saved_div textarea {
		width:60%;
		max-width:60%;
		border-radius:10px;
		font-size:1em;
	}

	.mail_message_div {
		padding:20px 10px 30px 10px;
		margin:50px 10px 50px 10px;
	}
	.mail_message_div textarea {
		width:60%;
		max-width:60%;
		border-radius:10px;
		font-size:1em;
	}
#mail_div {
	margin-left:60px;
	margin-right:60px;
}