body {
	background:white;
	font-family: monospace;
}

#center_wrap {
    position:absolute;
    top:180px;
    margin-left:280px;
    text-align: center;
}

#navbutton {
	display: block;
	width: 150px;
	height: 43px;
	background: #86A8C2;
	padding: 10px;
	border: 1 ridge;
	border-color:#5E809A;
	border-radius: 7px;	
	-webkit-border-radius: 7px;
	font-size:2.5em;
	text-decoration: none;
}

#navbutton:link { /* Essentially means a[href], or that the link actually goes somewhere */
  color: black;
}
#navbutton:visited {
  color: black;
}
#navbutton:hover {
  color: black;
}
#navbutton:active {
  color: black;
}

h1 {
	font-size:5em;
	margin-left:25px;
}

#questionbox {
	resize:none;
	padding:5px;
	border-radius: 5px;
}